/* Resets básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.divPai {
    width: 100%;
    height: 200vh;
    background-color: #2f1e6d;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('');

}

h1 {
    font-size: 8vw;
    font-family: 'Goldman', cursive;
    font-weight: 400;
    font-line-height: 1.2;
    text-align: center;
    color: #ca1515;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #fff;

}